version: '3.3'

services:
  nginx:
    image: nginx:${NGINX_TAG}
    container_name: rtsoft_nginx
    ports:
      - 8080:80
    volumes:
      - ../static:/usr/share/nginx/html/static/
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    restart: always
  db:
    image : postgres:${DB_TAG}
    container_name: rtsoft_db
    restart: always
    volumes:
      - rtsoft_postgres_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    env_file:
      - db.env
  api:
    build: ../
    restart: always
    container_name: rtsoft_app
    env_file:
      - config.env
    depends_on:
      - db

volumes:
    rtsoft_postgres_data: