<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if data %}
            id изображения: {{ data.id }}
        {% else %}
            Изображение отсутствует
        {% endif %}
    </title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        img {
            max-width: 600px;
        }
    </style>
</head>
<body>
    {% if data %}
        <p><img src="{{ data.image_url }}" alt="Cat-image"></p>
    {% else %}
        <h2>Нет доступных изображений для данных параметров запроса</h2>
    {% endif %}
</body>
</html>